[Unit]
Description=Gunicorn instance for QFT Course
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/qftcourse
Environment="PATH=/home/ubuntu/qftcourse/venv/bin"
ExecStart=/home/ubuntu/qftcourse/venv/bin/gunicorn --workers 3 --bind unix:qftcourse.sock -m 007 wsgi:app
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
